In [2]:
## Import required modules

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
## 02_08 Pre dara preparation ##
## 02_08 Esoc preparation (exported as csv)

esoc_lote = pd.read_csv('../../data/02_gdb/2_8_Esoc.csv')
area_lotes = pd.read_csv('../../data/02_gdb/2_6_Lotes.csv',low_memory = False, converters={'LotCodigo':str, 'ManzCodigo':str}
                        )

esoc_lote['ESoCLote'] = esoc_lote['ESoCLote'].astype(str)
area_lotes['Id_Lote'] = area_lotes['LotCodigo'].astype(str)

#area_lote = 

##Fix lote code 

esoc_lote['lote_code_len'] = esoc_lote['ESoCLote'].str.len()
esoc_lote.loc[(esoc_lote['lote_code_len'] == 10), 'ESoCLote'] ="00"+esoc_lote['ESoCLote']


esoc_lote['id_manzana']=esoc_lote['ESoCLote'].str.slice(start = 0, stop = 9)

esoc_lote['LotCodigo'] = esoc_lote['ESoCLote']

In [5]:
## Convert area to m2
area_lotes['SHAPE_Area']=area_lotes['SHAPE_Area']*10000000000
area_lotes

,OBJECTID,LotCodigo,LotDispers,LotILDispe,LotUPredia,ManzCodigo,SHAPE_Length,SHAPE_Area,LotDistrit,Id_Lote
0,1,002411037011,N,NaN,1,002411037,0.000325,58.629513,0.0,002411037011
1,2,002411037012,N,NaN,1,002411037,0.000325,58.629653,0.0,002411037012
2,3,002411036026,N,NaN,1,002411036,0.000325,58.629610,0.0,002411036026
3,4,002411036006,N,NaN,1,002411036,0.000325,58.628860,0.0,002411036006
4,5,002411036007,N,NaN,1,002411036,0.000325,58.629696,0.0,002411036007
5,6,002411008051,N,NaN,1,002411008,0.000325,58.629124,0.0,002411008051
6,7,002411008050,N,NaN,1,002411008,0.000325,58.629408,0.0,002411008050
7,8,002411054011,N,NaN,1,002411054,0.000327,62.290831,0.0,002411054011
8,9,004524054010,N,NaN,1,004524054,0.000352,62.701923,0.0,004524054010
9,10,004524054009,N,NaN,1,004524054,0.000352,62.702097,0.0,004524054009
10,11,004524054011,N,NaN,1,004524054,0.000352,62.703301,0.0,004524054011
11,12,004524054012,N,NaN,1,004524054,0.000352,62.701326,0.0,004524054012
12,13,004524044004,N,NaN,1,004524044,0.000352,62.416026,0.0,004524044004
13,14,004524025003,N,NaN,1,004524025,0.000642,186.587764,0.0,004524025003
14,15,004524025006,N,NaN,1,004524025,0.000282,49.222428,0.0,004524025006
15,16,004524025002,N,NaN,1,004524025,0.000272,45.413671,0.0,004524025002
16,17,004524044002,N,NaN,1,004524044,0.000352,62.701940,0.0,004524044002
17,18,004524044023,N,NaN,1,004524044,0.000349,61.404073,0.0,004524044023
18,19,004524044001,N,NaN,1,004524044,0.000350,62.255243,0.0,004524044001
19,20,004524038003,N,NaN,1,004524038,0.000352,62.702318,0.0,004524038003
20,21,004524038014,N,NaN,1,004524038,0.000352,62.701688,0.0,004524038014
21,22,004524038001,N,NaN,1,004524038,0.000352,62.702569,0.0,004524038001
22,23,004524001013,N,NaN,1,004524001,0.000274,46.050943,0.0,004524001013
23,24,004524001015,N,NaN,1,004524001,0.000307,58.695104,0.0,004524001015
24,25,004524001011,N,NaN,1,004524001,0.000274,45.437611,0.0,004524001011
25,26,004524002021,N,NaN,1,004524002,0.000528,138.730815,0.0,004524002021
26,27,004524002007,N,NaN,1,004524002,0.000530,139.409809,0.0,004524002007
27,28,009108093009,N,NaN,1,009108093,0.000520,138.961676,0.0,009108093009
28,29,009108093010,N,NaN,1,009108093,0.000479,116.048874,0.0,009108093010
29,30,009222023018,N,NaN,1,009222023,0.000534,134.014140,0.0,009222023018
...,...,...,...,...,...,...,...,...,...,...
928912,928913,005667024006,N,NaN,2,005667024,0.000325,58.582467,0.0,005667024006
928913,928914,005667027016,N,NaN,1,005667027,0.000312,55.227123,0.0,005667027016
928914,928915,005667031002,N,NaN,1,005667031,0.000307,53.724312,0.0,005667031002
928915,928916,005667029034,N,NaN,1,005667029,0.000325,58.612429,0.0,005667029034
928916,928917,005667030006,N,NaN,1,005667030,0.000307,53.754948,0.0,005667030006
928917,928918,005667031044,N,NaN,1,005667031,0.000343,60.580443,0.0,005667031044
928918,928919,005667026035,N,NaN,1,005667026,0.000217,29.297377,0.0,005667026035
928919,928920,005667013032,N,NaN,1,005667013,0.000325,58.609538,0.0,005667013032
928920,928921,005667026003,N,NaN,1,005667026,0.000325,58.669132,0.0,005667026003
928921,928922,005667020011,N,NaN,1,005667020,0.000325,58.628207,0.0,005667020011
928922,928923,005667026030,N,NaN,1,005667026,0.000316,53.759047,0.0,005667026030
928923,928924,005667015029,N,NaN,1,005667015,0.000271,29.342858,0.0,005667015029
928924,928925,005667025009,N,NaN,1,005667025,0.000325,58.615030,0.0,005667025009
928925,928926,005667025023,N,NaN,1,005667025,0.000334,63.470349,0.0,005667025023
928926,928927,005667024015,N,NaN,1,005667024,0.000232,33.411190,0.0,005667024015
928927,928928,005667024016,N,NaN,1,005667024,0.000337,61.978888,0.0,005667024016
928928,928929,005667020010,N,NaN,1,005667020,0.000325,58.656896,0.0,005667020010
928929,928930,005667015010,N,NaN,1,005667015,0.000325,58.633379,0.0,005667015010
928930,928931,005667015016,N,NaN,1,005667015,0.000325,58.644491,0.0,005667015016
928931,928932,005667026002,N,NaN,1,005667026,0.000325,58.612278,0.0,005667026002
928932,928933,005667018014,N,NaN,1,005667018,0.000318,54.359941,0.0,005667018014
928933,928934,005667013031,N,NaN,1,005667013,0.000325,58.666704,0.0,005667013031
928934,928935,005667024003,N,NaN,1,005667024,0.000328,59.591303,0.0,005667024003
928935,928936,005667024028,N,NaN,1,005667024,0.000325,58.569707,0.0,005667024028
928936,928937,005667050019,N,NaN,1,005667050,0.000379,73.341960,0.0,005667050019
928937,928938,005667017033,N,NaN,1,005667017,0.000271,29.311350,0.0,005667017033
928938,928939,005667019044,N,NaN,1,005667019,0.000235,34.295452,0.0,005667019044
928939,928940,005667050037,N,NaN,1,005667050,0.000212,28.068050,0.0,005667050037
928940,928941,005667018001,N,NaN,1,005667018,0.000372,81.338195,0.0,005667018001
928941,928942,005667050008,N,NaN,1,005667050,0.000380,73.152005,0.0,005667050008

In [6]:
lot_with_esoc = pd.merge(area_lotes, esoc_lote, how = 'left', on='LotCodigo')
         
lot_with_esoc.head(10)

,OBJECTID_x,LotCodigo,LotDispers,LotILDispe,LotUPredia,ManzCodigo,SHAPE_Length,SHAPE_Area,LotDistrit,Id_Lote,OBJECTID_y,ESoCLote,ESoChip,ESoEstrato,lote_code_len,id_manzana
0,1,002411037011,N,NaN,1,002411037,0.000325,58.629513,0.0,002411037011,162908.0,002411037011,AAA0016TUMS,2.0,10.0,002411037
1,2,002411037012,N,NaN,1,002411037,0.000325,58.629653,0.0,002411037012,162909.0,002411037012,AAA0016TUNN,2.0,10.0,002411037
2,3,002411036026,N,NaN,1,002411036,0.000325,58.629610,0.0,002411036026,1430831.0,002411036026,AAA0016TTTD,2.0,10.0,002411036
3,4,002411036006,N,NaN,1,002411036,0.000325,58.628860,0.0,002411036006,NaN,NaN,NaN,NaN,NaN,NaN
4,5,002411036007,N,NaN,1,002411036,0.000325,58.629696,0.0,002411036007,163391.0,002411036007,AAA0016TSXR,2.0,10.0,002411036
5,6,002411008051,N,NaN,1,002411008,0.000325,58.629124,0.0,002411008051,1245078.0,002411008051,AAA0016SAWW,2.0,10.0,002411008
6,7,002411008050,N,NaN,1,002411008,0.000325,58.629408,0.0,002411008050,157063.0,002411008050,AAA0016SAUH,2.0,10.0,002411008
7,8,002411054011,N,NaN,1,002411054,0.000327,62.290831,0.0,002411054011,163136.0,002411054011,AAA0016UTRU,2.0,10.0,002411054
8,9,004524054010,N,NaN,1,004524054,0.000352,62.701923,0.0,004524054010,337736.0,004524054010,AAA0046KEBR,2.0,10.0,004524054
9,10,004524054009,N,NaN,1,004524054,0.000352,62.702097,0.0,004524054009,337735.0,004524054009,AAA0046KEAF,2.0,10.0,004524054

In [7]:
## Sum areas by block and strata
## the no. of registers is less than the number of blocks because when land use is not residential = no strata assigned (here)

strata_block = pd.pivot_table(lot_with_esoc, values=['SHAPE_Area'], index=['ManzCodigo'], columns=['ESoEstrato'], aggfunc=np.sum, fill_value = 0)
strata_block

              SHAPE_Area
ESoEstrato           1.0           2.0           3.0  4.0  5.0  6.0
ManzCodigo
001101002       0.000000  7.170005e+04  0.000000e+00  0.0  0.0  0.0
001101003       0.000000  3.191662e+04  0.000000e+00  0.0  0.0  0.0
001101004       0.000000  2.844528e+03  0.000000e+00  0.0  0.0  0.0
001101005       0.000000  5.441407e+03  0.000000e+00  0.0  0.0  0.0
001101006       0.000000  4.234172e+02  1.717858e+07  0.0  0.0  0.0
001101008       0.000000  4.339866e+03  0.000000e+00  0.0  0.0  0.0
001101009       0.000000  4.057798e+06  0.000000e+00  0.0  0.0  0.0
001101013       0.000000  0.000000e+00  5.243671e+03  0.0  0.0  0.0
001102001       0.000000  6.093690e+05  0.000000e+00  0.0  0.0  0.0
001102002       0.000000  3.685082e+03  0.000000e+00  0.0  0.0  0.0
001102003       0.000000  1.571829e+03  0.000000e+00  0.0  0.0  0.0
001102004       0.000000  4.193774e+03  0.000000e+00  0.0  0.0  0.0
001102005       0.000000  9.293459e+02  0.000000e+00  0.0  0.0  0.0
001102007       0.000000  2.907046e+03  0.000000e+00  0.0  0.0  0.0
001102008       0.000000  1.136661e+05  0.000000e+00  0.0  0.0  0.0
001102009       0.000000  6.517826e+03  0.000000e+00  0.0  0.0  0.0
001102010       0.000000  1.227517e+04  0.000000e+00  0.0  0.0  0.0
001102014       0.000000  4.509762e+03  3.959683e+04  0.0  0.0  0.0
001102017       0.000000  1.212768e+03  0.000000e+00  0.0  0.0  0.0
001102018       0.000000  9.020279e+02  0.000000e+00  0.0  0.0  0.0
001102019       0.000000  9.924291e+02  0.000000e+00  0.0  0.0  0.0
001102022       0.000000  3.074018e+03  0.000000e+00  0.0  0.0  0.0
001102023       0.000000  1.282289e+06  0.000000e+00  0.0  0.0  0.0
001102024       0.000000  2.114695e+03  0.000000e+00  0.0  0.0  0.0
001102025       0.000000  5.670340e+02  0.000000e+00  0.0  0.0  0.0
001102030       0.000000  5.710529e+03  0.000000e+00  0.0  0.0  0.0
001102031       0.000000  8.778633e+04  0.000000e+00  0.0  0.0  0.0
001102033       0.000000  1.296883e+03  0.000000e+00  0.0  0.0  0.0
001102035       0.000000  1.129293e+03  0.000000e+00  0.0  0.0  0.0
001102036       0.000000  4.801462e+02  0.000000e+00  0.0  0.0  0.0
...                  ...           ...           ...  ...  ...  ...
208203070     528.219112  0.000000e+00  0.000000e+00  0.0  0.0  0.0
208203071     582.367629  0.000000e+00  0.000000e+00  0.0  0.0  0.0
208203072     584.667788  0.000000e+00  0.000000e+00  0.0  0.0  0.0
208203073     603.009817  0.000000e+00  0.000000e+00  0.0  0.0  0.0
208203074     698.900871  0.000000e+00  0.000000e+00  0.0  0.0  0.0
208203075     720.759589  0.000000e+00  0.000000e+00  0.0  0.0  0.0
208203076    1192.389092  0.000000e+00  0.000000e+00  0.0  0.0  0.0
208203080     530.366502  0.000000e+00  0.000000e+00  0.0  0.0  0.0
208203081     389.441385  0.000000e+00  0.000000e+00  0.0  0.0  0.0
208203082     537.957986  0.000000e+00  0.000000e+00  0.0  0.0  0.0
208203083     375.833997  0.000000e+00  0.000000e+00  0.0  0.0  0.0
208203084    1336.127785  0.000000e+00  0.000000e+00  0.0  0.0  0.0
208203085     129.709926  0.000000e+00  0.000000e+00  0.0  0.0  0.0
208203086     732.221614  0.000000e+00  0.000000e+00  0.0  0.0  0.0
208203087     558.946515  0.000000e+00  0.000000e+00  0.0  0.0  0.0
208203088     423.491132  0.000000e+00  0.000000e+00  0.0  0.0  0.0
208203091     504.558917  0.000000e+00  0.000000e+00  0.0  0.0  0.0
208203092    1347.275889  0.000000e+00  0.000000e+00  0.0  0.0  0.0
208203093      56.063221  0.000000e+00  0.000000e+00  0.0  0.0  0.0
208203094     262.441670  0.000000e+00  0.000000e+00  0.0  0.0  0.0
208203095   11983.623539  0.000000e+00  0.000000e+00  0.0  0.0  0.0
208203096     611.748104  0.000000e+00  0.000000e+00  0.0  0.0  0.0
208203097     380.569347  0.000000e+00  0.000000e+00  0.0  0.0  0.0
209104003     304.281060  3.034212e+02  3.303232e+02  0.0  0.0  0.0
209104005       0.000000  1.927353e+01  1.614764e+02  0.0  0.0  0.0
209104006     213.596353  3.085308e+02  0.000000e+00  0.0  0.0  0.0
209106001     869.991026  9.194444e+02  0.000000e+00  0.0  0.0  0.0
209106004     399.217926  0.000000e+00  0.000000e+00  0.0  0.0  0.0
209106005     406.638030  5.606019e+02  4.227321e+02  0.0  0.0  0.0
209106006     226.808101  0.000000e+00  0.000000e+00  0.0  0.0  0.0

[37643 rows x 6 columns]

In [8]:
## Flatten pivot table (to dataframe) and rename columns

strata_flat = pd.DataFrame(strata_block.to_records())
strata_flat.columns = ['cod_mz','E_01','E_02','E_03','E_04','E_05','E_06']
strata_flat.head(10)

      cod_mz  E_01          E_02          E_03  E_04  E_05  E_06
0  001101002   0.0  7.170005e+04  0.000000e+00   0.0   0.0   0.0
1  001101003   0.0  3.191662e+04  0.000000e+00   0.0   0.0   0.0
2  001101004   0.0  2.844528e+03  0.000000e+00   0.0   0.0   0.0
3  001101005   0.0  5.441407e+03  0.000000e+00   0.0   0.0   0.0
4  001101006   0.0  4.234172e+02  1.717858e+07   0.0   0.0   0.0
5  001101008   0.0  4.339866e+03  0.000000e+00   0.0   0.0   0.0
6  001101009   0.0  4.057798e+06  0.000000e+00   0.0   0.0   0.0
7  001101013   0.0  0.000000e+00  5.243671e+03   0.0   0.0   0.0
8  001102001   0.0  6.093690e+05  0.000000e+00   0.0   0.0   0.0
9  001102002   0.0  3.685082e+03  0.000000e+00   0.0   0.0   0.0

In [9]:
## Assign max area per block, calculate # of strata per block
strata_flat['max_area'] =strata_flat.max(axis=1)

strata_flat.head(10)

      cod_mz  E_01          E_02          E_03  E_04  E_05  E_06      max_area
0  001101002   0.0  7.170005e+04  0.000000e+00   0.0   0.0   0.0  7.170005e+04
1  001101003   0.0  3.191662e+04  0.000000e+00   0.0   0.0   0.0  3.191662e+04
2  001101004   0.0  2.844528e+03  0.000000e+00   0.0   0.0   0.0  2.844528e+03
3  001101005   0.0  5.441407e+03  0.000000e+00   0.0   0.0   0.0  5.441407e+03
4  001101006   0.0  4.234172e+02  1.717858e+07   0.0   0.0   0.0  1.717858e+07
5  001101008   0.0  4.339866e+03  0.000000e+00   0.0   0.0   0.0  4.339866e+03
6  001101009   0.0  4.057798e+06  0.000000e+00   0.0   0.0   0.0  4.057798e+06
7  001101013   0.0  0.000000e+00  5.243671e+03   0.0   0.0   0.0  5.243671e+03
8  001102001   0.0  6.093690e+05  0.000000e+00   0.0   0.0   0.0  6.093690e+05
9  001102002   0.0  3.685082e+03  0.000000e+00   0.0   0.0   0.0  3.685082e+03

In [10]:
## List of variables for sum

col_list = list(strata_flat)
# Delete max area
col_list.pop(7)
col_list.pop(0)
col_list

['E_01', 'E_02', 'E_03', 'E_04', 'E_05', 'E_06']

In [11]:
## Tag main strata and count strata 
strata_flat['total_block_area']=strata_flat[col_list].sum(axis=1)


strata_flat.loc[(strata_flat['E_01'] ==strata_flat['max_area']), 'main_strata'] = "E01"
strata_flat.loc[(strata_flat['E_02'] ==strata_flat['max_area']), 'main_strata'] = "E02"
strata_flat.loc[(strata_flat['E_03'] ==strata_flat['max_area']), 'main_strata'] = "E03"
strata_flat.loc[(strata_flat['E_04'] ==strata_flat['max_area']), 'main_strata'] = "E04"
strata_flat.loc[(strata_flat['E_05'] ==strata_flat['max_area']), 'main_strata'] = "E05"
strata_flat.loc[(strata_flat['E_06'] ==strata_flat['max_area']), 'main_strata'] = "E06"
strata_flat.loc[(strata_flat['total_block_area'] == 0), 'main_strata'] = "other"

## Tag single or multiple strata
strata_flat['strata_count']=(strata_flat[col_list]!=0).sum(1)

strata_flat.loc[(strata_flat['strata_count'] > 1), 'mixed_strata']="Mixed"
strata_flat.loc[(strata_flat['strata_count'] <= 1), 'mixed_strata']="Single"

strata_flat.head(10)

,cod_mz,E_01,E_02,E_03,E_04,E_05,E_06,max_area,total_block_area,main_strata,strata_count,mixed_strata
0,001101002,0.0,7.170005e+04,0.000000e+00,0.0,0.0,0.0,7.170005e+04,7.170005e+04,E02,1,Single
1,001101003,0.0,3.191662e+04,0.000000e+00,0.0,0.0,0.0,3.191662e+04,3.191662e+04,E02,1,Single
2,001101004,0.0,2.844528e+03,0.000000e+00,0.0,0.0,0.0,2.844528e+03,2.844528e+03,E02,1,Single
3,001101005,0.0,5.441407e+03,0.000000e+00,0.0,0.0,0.0,5.441407e+03,5.441407e+03,E02,1,Single
4,001101006,0.0,4.234172e+02,1.717858e+07,0.0,0.0,0.0,1.717858e+07,1.717901e+07,E03,2,Mixed
5,001101008,0.0,4.339866e+03,0.000000e+00,0.0,0.0,0.0,4.339866e+03,4.339866e+03,E02,1,Single
6,001101009,0.0,4.057798e+06,0.000000e+00,0.0,0.0,0.0,4.057798e+06,4.057798e+06,E02,1,Single
7,001101013,0.0,0.000000e+00,5.243671e+03,0.0,0.0,0.0,5.243671e+03,5.243671e+03,E03,1,Single
8,001102001,0.0,6.093690e+05,0.000000e+00,0.0,0.0,0.0,6.093690e+05,6.093690e+05,E02,1,Single
9,001102002,0.0,3.685082e+03,0.000000e+00,0.0,0.0,0.0,3.685082e+03,3.685082e+03,E02,1,Single

In [12]:
## Exporting results

#strata_flat.to_excel('../../outputs/01_strata/strata_per_block.xls')
strata_flat.to_csv('../../outputs/01_strata/strata_per_block.csv')